body{
    background: #f7f6f9;
     font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align:
}
h1{
    color: #030303;
}
p{
    color: #570315;
}
header{
    background: #0aafd4;
    color: rgb(21, 1, 1);
    padding: 20px;
    text-align: center;

}

